<div class="link-box">
    <div class="link-box-inner">
      <div class="link-box-header"><a href="{{ site.url }}{{ include.url }}"><img width="300" height="300" src="{{ site.url }}{{ include.img }}" class="attachment-medium-square wp-post-image" alt="Our Pre-School" /></a></div><!-- /link-box-header -->
      <div class="link-box-footer"><a href="{{ site.url }}{{ include.url }}">{{ include.text }}</a></div><!-- /link-box-footer -->
    </div><!-- /link-box-inner -->
  </div><!-- /link-box -->